<div class="container">
        <h1>Politique et confidentialité </h1>
        <div class="list-legal">
                <p><button mat-raised-button routerLink="/mentionlegale"
                                style="background-color: #339e33; color: white;" type="submit">Mentions
                                légales</button></p>
                <p><button mat-raised-button routerLink="/cgu" style="background-color: #339e33; color: white;"
                                type="submit">Conditions générales
                                d'utilisation</button></p>
                <p><button mat-raised-button routerLink="/cgv" style="background-color: #339e33; color: white;"
                                type="submit">Conditions générales de
                                vente</button></p>
        </div>


</div>