<div class="app">
    <mat-sidenav-container>
        <mat-sidenav #sidenav role="navigation" class="sidebar">
            <sidenav-list (sidenavClose)="sidenav.close()"></sidenav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <navbar (sidenavToggle)="sidenav.toggle()"></navbar>
            <router-outlet>
            </router-outlet>

            <div class="footPage">
                <div><span class='linkFooter'>Nous contacter</span> - En naviguant sur ce site, vous acceptez <span
                        routerLink="politique" class='linkFooter'>les Mentions
                        légales et les CGV</span> et la Politique de
                    protection des données personnelles
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>