@font-face {
    font-family: "gothic_sans_ms";
    src: url("/assets/Police_Ecriture/GOTHIC.TTF");
}

@font-face {
    font-family: "gothic_bold";
    src: url("/assets/Police_Ecriture/GOTHICB.TTF");
}

.mat-drawer-container {
    font-family: "gothic_sans_ms";
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/image 1.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footPage {
    font-size: 17px;
    position: relative;
    margin-top: 150px;
    width: 100%;
    bottom: 0;
    background-color: white;
    text-align: center;
    padding: 30px 0;
}

.sidebar {
    width: 50vw;
    background-color: white;
    padding-top: 4vh;
    padding-left: 2vw;
}

.linkFooter {
    font-weight: bold;
    cursor: pointer;
    color: #339e33;
}
