.container {
    vertical-align: middle;
    margin: auto;
    width: 80%;
    height: min 80vh;
    background-color: white;
    border-radius: 20px;
    //margin-bottom: 100px;
    margin-top: 2vh;
    padding: 20px;
}
