<mat-toolbar class="toolbar">
    <div fxHide.gt-xs class="sidebar-button">
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div class="menu-icon">
        <span class="menu-title" style="cursor: pointer;" routerLink="/"> AtypikHouse</span>
        <div class="social-networks">
            <a href=" https://www.instagram.com/atypikhouse.art/" target="_blank" class="instagram-btn desktop-menu">
                <img src=" /assets/images/instagram.svg" class="instagram-img" style="margin-right: 10px;"
                    alt="logo-instagram">
            </a>
            <a href="https://www.facebook.com/AtypikHouse-205167134864752/" target="_blank"
                class="facebook-btn desktop-menu">
                <img src=" /assets/images/facebook.svg" class="facebook-img" alt="logo-facebook">
            </a>
        </div>
    </div>

    <span class="example-spacer"></span>

    <a mat-button *ngIf="this.statusUser.isAuth && this.statusUser.isAdmin" routerLink="/adminPanel"
        class="example-icon favorite-icon desktop-menu" aria-label="Example icon-button with heart icon">
        Gestion admin
    </a>
    <a mat-button routerLink="/" class="example-icon favorite-icon desktop-menu"
        aria-label="Example icon-button with heart icon">
        Accueil
    </a>
    <a mat-button routerLink="/search" class="example-icon favorite-icon desktop-menu"
        aria-label="Example icon-button with heart icon">
        Logements
    </a>


    <a *ngIf="!this.statusUser.isAuth" mat-button routerLink="/connection"
        class="example-icon favorite-icon desktop-menu" aria-label="Example icon-button with heart icon">
        se connecter
    </a>
    <a *ngIf="!this.statusUser.isAuth" mat-raised-button routerLink="/register"
        class="example-icon favorite-icon desktop-menu" aria-label="Example icon-button with heart icon">
        S'inscrire
    </a>

    <!--    <a *ngIf="this.statusUser.isAuth" mat-button routerLink="/profil" class="example-icon favorite-icon desktop-menu account-menu"-->
    <!--        aria-label="Example icon-button with heart icon">-->
    <!--        {{ firstName }} {{lastName}}-->
    <!--        <img class="account-menu-img" src=" /assets/images/User.png" alt="">-->
    <!--    </a>-->

    <mat-list-item [matMenuTriggerFor]="menu" *ngIf="this.statusUser.isAuth" class="sidebar-item">
        <img class="account-menu-img desktop-menu" src=" /assets/images/User.png" alt="">
    </mat-list-item>
    <mat-menu #menu="matMenu" class="sidebar-item-menu desktop-menu" style="margin-left: 4vw">
        <button mat-menu-item routerLink="/profil">Mon Compte</button>
        <button mat-menu-item (click)="disconnect()">Déconnexion</button>
    </mat-menu>
    <!--    <a *ngIf="this.statusUser.isAuth" mat-raised-button class="example-icon favorite-icon desktop-menu"-->
    <!--        (click)="disconnect()">Déconnexion</a>-->

</mat-toolbar>