<div class="example-container">

    <form [formGroup]="registerForm" class="register-form" (ngSubmit)="onSubmit(registerForm.value)">
        <img src=" /assets/images/Group_1.svg" class="form-logo">
        <div class="form-text">Connexion</div>
        <div class="form-field">
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Entrez votre adresse mail</mat-label>
                <input matInput placeholder="Entrer votre e-mail" formControlName="email" required>

            </mat-form-field>
            <div class="error-input" *ngIf="registerForm.get('email').errors &&
            registerForm.get('email').hasError('required') && registerForm.get('email').touched">Aucune adresse
                mail Saisi
            </div>
            <div class="error-input"
                *ngIf="registerForm.get('email').errors && !registerForm.get('email').hasError('required') && registerForm.get('email').touched">
                Format de
                l'adresse mail incorrect
            </div>
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Entrez votre mot de passe</mat-label>
                <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button type="button" matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <div class="error-input" *ngIf="registerForm.get('password').errors &&
            registerForm.get('password').hasError('required') && registerForm.get('password').touched">Aucun mot de
                passe Saisi
            </div>
            <div class="error-input" *ngIf="registerForm.get('password').errors &&
            !registerForm.get('password').hasError('required') && registerForm.get('password').touched">Format du mot
                de passe incorrect
            </div>
            <div class="error-input" *ngIf="errorWhenLogin === true">les Identifiants saisis sont incorects
            </div>
            <div class="info">* Le mot de passe doit contenir: <br> -4 caractéres au minimum <br> -Une majuscule <br> -Un chiffre
            </div>
            <div class="btn">
                <button mat-raised-button style="background-color: #339e33; color: white;" type="submit"
                    [disabled]="registerForm.invalid">Se connecter</button>
            </div>


        </div>
    </form>

</div>
