<div class="container">
    <h1>Conditions générales de vente</h1>


    <body id="tinymce" class="mce-content-body " data-id="content" contenteditable="true" spellcheck="false">
        <p>Définitions <br><br>Les présentes Conditions Générales de Vente (ci-après les « CGV ») sont proposées par
            AtypikHouse SARL, au capital de 10000 €, entreprise immatriculée au RCS de Pierrefonds sous le numéro
            362846081, dont le siège social est sis au 11 Rue Notre Dame, 60350 Pierrefonds (ci-après « AtypikHouse »).
            <br><br>On désignera par la suite : <br>« Site » : le site AtypikHouse.art et l'ensemble de ses pages. <br>«
            Produits » ou « Services » : l'ensemble des produits (matériels) et services (prestations) qu'il est
            possible d'acheter ou auxquels il est possible de souscrire sur le Site. <br>« Vendeur » : AtypikHouse,
            personne morale ou physique, proposant ses Produits ou Services sur le Site. <br>« Client » : l'internaute,
            particulier ou professionnel, effectuant un achat de Produit(s) ou Service(s) sur le Site. <br>«
            Consommateur », conformément à la définition de l'article préliminaire du Code de la consommation : « toute
            personne physique qui agit à des fins qui n'entrent pas dans le cadre de son activité commerciale,
            industrielle, artisanale ou libérale ». <br>L'internaute visitant le Site et intéressé par les Produits et
            Services proposés par le Vendeur est invité à lire attentivement ces CGV, à les imprimer et/ou à les
            sauvegarder sur un support durable, avant de procéder à une commande sur le Site. <br>Le Client reconnaît
            avoir pris connaissance des CGV et les accepte intégralement et sans réserve.
        </p>
        <p><br data-mce-bogus="1"></p>
        <p>Article 1 - Application des CGV et objet du Site <br><br>1.1 Objet <br><br>Le Vendeur se réserve le droit de
            modifier à tout moment les CGV en publiant une nouvelle version de ces dernières sur le Site. Les CGV
            applicables au Client sont celles en vigueur le jour de la commande sur le Site. <br><br>Les informations
            relatives concernant l'hébergeur de l'éditeur du Site la collecte et le traitement des données personnelles
            et les conditions d’utilisation du Site sont fournies dans les conditions générales d'utilisation.
            <br><br>La société AtypikHouse propose la vente de Services dans le cadre de la location de biens atypiques.
            <br><br>Les présentes Conditions Générales de Vente (ci-après «les CGV») ont pour objet, d’une part,
            d’informer tout éventuel Acheteur sur les conditions et modalités selon lesquelles la société AtypikHouse
            procède à la vente et à la livraison des Services commandés et, d’autre part, de définir les droits et
            obligations des parties dans le cadre de la vente de Services par le Vendeur au consommateur (ci-avant et
            ci-après «l’Acheteur»). Les présentes CGV sont complétées par la charte «Données personnelles &amp; Cookies»
            <br><br>1.2 Champ d’application <br><br>Les CGV s’appliquent, sans restriction ni réserve, à l’ensemble des
            ventes des Services proposés par le Vendeur sur les sites suivants et plus généralement sur tout site
            marchand sur lequel le Vendeur serait amené à proposer ses Services à la vente (ci-après désignés ensemble
            «le Site») : <br><br>• sur le site Internet édité par le Vendeur (www.AtypikHouse.art) <br>
        </p>
        <p>Article 2 - Création d'un compte client <br><br>La création d’un « compte client » est un préalable
            indispensable à toute commande du Client sur le présent Site. A cette fin, le Client sera invité à fournir
            un certain nombre d’informations personnelles tels que ses nom et prénom, son adresse email, son adresse
            postale et son numéro de téléphone, cette liste n’étant pas exhaustive. A ce titre, le Client s’engage à
            fournir des informations exactes. Le Client est responsable de la mise à jour de ses données. Il doit donc
            aviser sans délai le Vendeur en cas de changement. Le Client est le seul responsable de la véracité, de
            l'exactitude et de la pertinence des données fournies. <br><br>Le Client inscrit au Site a la possibilité
            d'y accéder en se connectant grâce à ses identifiants (adresse e-mail définie lors de son inscription et mot
            de passe) ou éventuellement en utilisant des systèmes tels que des boutons de connexion tiers de réseaux
            sociaux. Le Client est entièrement responsable de la protection du mot de passe qu’il a choisi. Il est
            encouragé à utiliser des mots de passe complexes. En cas d’oubli de mot de passe, le Client a la possibilité
            d’en générer un nouveau. Ce mot de passe constitue la garantie de la confidentialité des informations
            contenues dans sa rubrique « mon compte » et le Client s'interdit donc de le transmettre ou de le
            communiquer à un tiers. A défaut, le Vendeur ne pourra être tenu pour responsable des accès non autorisés au
            compte d'un Client. <br><br>Le compte client permet au Client de consulter toutes ses commandes effectuées
            sur le Site. Si les données contenues dans la rubrique compte client venaient à disparaître à la suite d’une
            panne technique ou d’un cas de force majeure, la responsabilité du Vendeur ne pourrait être engagée, ces
            informations n’ayant aucune valeur probante mais uniquement un caractère informatif. Les pages relatives au
            compte client sont librement imprimables par le Client titulaire du compte en question mais ne constituent
            nullement une preuve, elles n’ont qu’un caractère informatif destiné à assurer une gestion efficace de ses
            commandes ou contributions par le Client. <br><br>Chaque Client est libre de fermer son compte sur le Site.
            Pour cela, il doit adresser un e-mail au Vendeur en indiquant qu’il souhaite supprimer son compte. Aucune
            récupération de ses données ne sera alors possible. <br><br>Le Vendeur se réserve le droit exclusif de
            supprimer le compte de tout Client qui aurait contrevenu aux présentes CGV (notamment et sans que cet
            exemple n’ait un quelconque caractère exhaustif, lorsque le Client aura fourni sciemment des informations
            erronées, lors de son inscription et de la constitution de son espace personnel) ou encore tout compte
            inactif depuis au moins une année. Ladite suppression ne sera pas susceptible de constituer un dommage pour
            le Client qui ne pourra prétendre à aucune indemnité de ce fait. Cette exclusion n’est pas exclusive de la
            possibilité, pour le Vendeur, d’entreprendre des poursuites d’ordre judiciaire à l’encontre du Client,
            lorsque les faits l’auront justifié. <br><br>Article 3 - Modalité de souscription des commandes et
            descriptif du processus d’achat <br>Les Services proposés sont ceux qui figurent sur le Site. Ces Services
            sont proposés dans la limite des stocks disponibles. Chaque Service est accompagné d’un descriptif établi
            par le Vendeur. <br><br>On définira ci-dessous comme « Panier » l’objet immatériel regroupant l’ensemble des
            Services sélectionnés par le Client du Site en vue d’un achat en ayant cliqué sur ces éléments. Afin de
            procéder à sa commande, le Client choisit le ou les Service(s) qu’il souhaite commander en les ajoutant à
            son « Panier » dont le contenu peut être modifié à tout moment. <br><br>Dès lors que le Client estimera
            avoir sélectionné et ajouté à son panier tous les Services auquels il souhaite souscrire, il aura la
            possibilité, pour valider sa commande, d’accéder à son panier en cliquant sur le bouton prévu à cet effet.
            Il sera alors redirigé sur une page récapitulative sur laquelle lui seront communiqués le nombre et les
            caractéristiques des Services commandés, ainsi que leur prix unitaire. <br><br>S’il souhaite valider sa
            commande, le Client devra cocher la case relative à la ratification des présentes CGV et cliquer sur le
            bouton de validation. Le Client sera alors redirigé sur une page dans laquelle il devra remplir les champs
            de formulaire de commande. Il devra dans ce dernier cas renseigner un certain nombre de données personnelles
            le concernant, nécessaires au bon déroulement de la commande. <br><br>Toutes les commandes passées sur le
            Site doivent être dûment remplies et doivent préciser ces informations nécessaires. Le Client pourra faire
            des changements, des corrections, des ajouts, ou annuler la commande, et ce, jusqu'à la validation de
            celle-ci. <br><br>Dès lors que le Client aura rempli le formulaire, il sera alors invité à effectuer son
            paiement avec les moyens de paiements listés dans la section de ces CGV relative aux paiements. Après
            quelques instants le Client se verra adresser un courrier électronique de confirmation de la commande, lui
            rappelant le contenu de la commande et le prix de celle-ci.</p>
        <p>Les Produits vendus restent la propriété du Vendeur jusqu’à complet paiement de leur prix, conformément à la
            présente clause de réserve de propriété. <br><br>Article 4 - Prix et modalités de paiement <br><br>Sauf
            mention contraire, les prix figurant dans le catalogue de services sont des prix entendus en Euros toutes
            taxes comprises (TTC), tenant compte de la TVA applicable au jour de la commande. <br><br>Le client peut
            effectuer une commande sur la plateforme AtypikHouse et effectuer les paiements via les services suivants:
            Paypal,stripe.Les paiements par carte bancaire se font au moyen de transactions sécurisées fournies par un
            prestataire de plateforme de paiement en ligne. <br><br>Article 5 - Exceptions au droit de rétractation
            <br><br>Le Site propose la vente de Services, pour lesquels le droit de rétractation des Consommateurs ne
            peut s'appliquer, en respect de l'article L114-1 du Code de la consommation .
        </p>
        <p><br data-mce-bogus="1"></p>
        <p>Dispositions légales à reproduire</p>
        <p><br data-mce-bogus="1"></p>
        <p>Lorsqu'il agit en garantie légale de conformité, le consommateur bénéficie d’un délai de deux ans à compter
            de la délivrance du bien pour agir ; il peut choisir entre la réparation ou le remplacement du bien, sous
            réserve des conditions de coût prévues par l’article L.217-9 du Code de la consommation ; sauf pour les
            biens d’occasion, il est dispensé de prouver l’existence du défaut de conformité du bien durant les six mois
            suivant la délivrance du bien, délai porté à 24 mois à compter du 18 mars 2016. <br><br>La garantie légale
            de conformité s’applique indépendamment de la garantie commerciale éventuellement consentie. <br><br>Le
            consommateur peut décider de mettre en œuvre la garantie contre les défauts cachés de la chose vendue au
            sens de l’article 1641 du Code civil, à moins que le vendeur n'ait stipulé qu'il ne sera obligé à aucune
            garantie ; dans l'hypothèse d'une mise en œuvre de cette garantie, l'acheteur a le choix entre la résolution
            de la vente ou une réduction du prix de vente conformément à l’article 1644 du Code civil. Il dispose d’un
            délai de deux années à compter de la découverte du vice.<br><br>Le report, la suspension ou l’interruption
            de la prescription ne peut avoir pour effet de porter le délai de prescription extinctive au-delà de vingt
            ans à compter du jour de la naissance du droit conformément à l'article 2232 du Code civil. <br><br>Tous les
            articles acquis sur le présent site bénéficient des garanties légales suivantes, prévues par le Code Civil
            ;<br></p>
        <p>Garantie légale de conformité <br><br>Selon les articles L.217-4 et suivants du Code de la consommation, le
            Vendeur est tenu de livrer un bien conforme au contrat conclu avec le Client Consommateur et de répondre des
            défauts de conformité existant pendant la délivrance du Produit. La garantie de conformité pourra s'exercer
            si un défaut devait exister le jour de la prise de possession du Produit. Toutefois, lorsque le défaut est
            apparu dans les 24 mois qui suivent cette date (ou dans les 6 mois si la commande a eu lieu avant le 18 mars
            2016 ou que le Produit est vendu d'occasion), il est présumé remplir cette condition. Mais, conformément à
            l'article L.217-7 du Code de la Consommation, « le Vendeur peut combattre cette présomption si celle-ci
            n'est pas compatible avec la nature du [Produit] ou le défaut de conformité invoqué ». <br><br>En revanche,
            passé ce délai de 24 mois (ou de 6 mois si la commande a eu lieu avant le 18 mars 2016 ou que le produit est
            vendu d'occasion), il reviendra au Client de prouver que le défaut existait bien au moment de la prise de
            possession du Produit. <br><br>Conformément à l'article L.217-9 du Code de la consommation : « en cas de
            défaut de conformité l'acheteur choisit entre la réparation et le remplacement du bien. Toutefois, le
            vendeur peut ne pas procéder selon le choix de l'acheteur si ce choix entraîne un coût manifestement
            disproportionné au regard de l'autre modalité, compte tenu de la valeur du bien ou de l'importance du
            défaut. Il est alors tenu de procéder, sauf impossibilité, selon la modalité non choisie par l'acheteur ».
            <br><br>Garantie légale contre les vices cachés <br><br>Selon les articles 1641 à 1649 du Code civil, le
            Client pourra demander l'exercice de la garantie de vices cachés si les défauts présentés n'apparaissaient
            pas lors de l'achat, étaient antérieurs à l'achat (et donc ne pas résulter de l'usure normale du Produit par
            exemple), et sont suffisamment graves (le défaut doit soit rendre le Produit impropre à l'usage auquel il
            est destiné, soit diminuer cet usage dans une mesure telle que l'acheteur n'aurait pas acheté le Produit ou
            ne l'aurait pas acheté à un tel prix s'il avait connu le défaut). <br><br>Les réclamations, demandes
            d'échange ou de remboursement pour un Produit non conforme doivent s’effectuer par courrier postal ou par
            mail aux adresses indiquées dans les mentions légales du site.
        </p>
        <p>En cas de non-conformité d’un Produit livré, il pourra être retourné au Vendeur qui procédera à son échange.
            En cas d'impossibilité d'échange du Produit (Produit obsolète, rupture de stock, etc.) le Client sera
            remboursé par chèque ou virement du montant de sa commande. Les frais de la procédure d'échange ou de
            remboursement (notamment les frais de port de retour du Produit) sont alors à la charge du Vendeur.
            <br><br>Article 7 - Service Client <br><br>Le service clientèle du présent Site est accessible par courrier
            électronique à l’adresse suivante : AtypikHouse.art@gmail.com ou par courrier postal à l’adresse indiquée
            dans les mentions légales. <br><br>AtypikHouse met aussi à disposition de ses Clients une hotline, ou
            assistance téléphonique, pour répondre à leurs questions. L’assistance téléphonique peut être contactée par
            téléphone au 0781256981 (numéro non surtaxé). <br><br>Article 8 - Responsabilité <br><br>Le Vendeur
            AtypikHouse ne saurait être tenu pour responsable de l'inexécution du contrat conclu due à la survenance
            d'un événement de force majeure. Concernant les Produits achetés, le Vendeur n'encourra aucune
            responsabilité pour les dommages indirects du fait des présentes pertes d'exploitation, perte de profit,
            dépenses ou frais, qui pourraient survenir. <br><br>Le choix et l'achat d'un produit sont placés sous
            l'unique responsabilité du client. L'impossibilité totale ou partielle d'utiliser les produits notamment
            pour cause d'incompatibilité du matériel ne peut donner lieu à aucun dédommagement, remboursement ou mise en
            cause de la responsabilité de l'éditeur, sauf dans le cas d'un vice caché avéré, de non-conformité ou de
            défectuosité. En cas de non mise à disposition d'un achat effectué dans l'application, le client dispose de
            six mois maximum (à compter de la date d'achat) pour se manifester. Au-delà de ce délai, aucune réclamation
            ne sera acceptée. L'utilisateur admet expressément utiliser l'application à ses propres risques et sous sa
            responsabilité exclusive. L'application fournit à l'utilisateur des informations à titre indicatif, avec des
            imperfections, erreurs, omissions, inexactitudes et autres ambivalences susceptibles d'exister. En tout état
            de cause,Atypik House ne pourra en aucun cas être tenu responsable : <br><br>- de tout dommage direct ou
            indirect, notamment en ce qui concerne les pertes de profits, le manque à gagner, les pertes de clientèle,
            de données pouvant entre autres résulter de l'utilisation de l'application, ou au contraire de
            l'impossibilité de son utilisation <br><br>- d'un dysfonctionnement, d'une indisponibilité d'accès, d'une
            mauvaise utilisation, d'une mauvaise configuration du périphérique de l'utilisateur, ou encore de l'emploi
            d'un périphérique peu usité ou obsolète par l'utilisateur <br><br>- du contenu des publicités et autres
            liens ou sources externes accessibles par l'utilisateur à partir de l'application.
        </p>
        <p>Article 9 - Droits de propriété intellectuelle <br><br>Tous les éléments du présent Site appartiennent au
            Vendeur ou à un tiers mandataire, ou sont utilisés par le Vendeur avec l'autorisation de leurs
            propriétaires. <br><br>Toute reproduction, représentation, adaptation des logos, contenus textuels,
            pictographiques ou vidéos, sans que cette énumération ne soit limitative, est rigoureusement interdite et
            s’apparente à de la contrefaçon. <br><br>Tout Client qui se rendrait coupable de contrefaçon serait
            susceptible de voir son compte supprimé sans préavis ni indemnité et sans que cette suppression ne puisse
            lui être constitutive d’un dommage, sans réserve d’éventuelles poursuites judiciaires ultérieures à son
            encontre, à l’initiative du Vendeur ou de son mandataire. <br><br>Les marques et logos contenus dans le Site
            sont susceptibles d'être déposés par AtypikHouse, ou éventuellement par un de ses partenaires. Toute
            personne procédant à leurs représentations, reproductions, imbrications, diffusions et rediffusions encourt
            les sanctions prévues aux articles L.713-2 et suivants du Code de la propriété intellectuelle. <br></p>
        <p>Article 10 - Indépendances des clauses <br><br>Si une disposition des CGV est jugée illégale, nulle ou pour
            toute autre raison inapplicable, alors cette disposition sera réputée divisible des CGV et n'affectera pas
            la validité et l'applicabilité des dispositions restantes. <br><br>Ces présentes CGV remplacent tous accords
            antérieurs ou contemporains écrits ou oraux. Les CGV ne sont pas cessibles, transférables ou
            sous-licenciable par le Client lui-même.<br><br>Une version imprimée des CGV et de tous les avis donnés sous
            forme électronique pourra être demandée dans des procédures judiciaires ou administratives en rapport avec
            les CGV. Les parties conviennent que toute la correspondance relative à ces CGV doit être rédigée dans la
            langue française. <br><br>Article 11 - Droit applicable et médiation<br><br>Les présentes CGV sont régies
            par et soumises au droit Français. <br><br>Sauf dispositions d’ordre public, tous litiges qui pourraient
            survenir dans le cadre de l’exécution des présentes CGV pourront avant toute action judiciaire être soumis à
            l’appréciation de l'Editeur du Site en vue d’un règlement amiable. <br><br>Il est expressément rappelé que
            les demandes de règlement amiable ne suspendent pas les délais ouverts pour intenter les actions
            judiciaires. Sauf disposition contraire, d’ordre public, toute action judiciaire relative à l’exécution des
            présentes CGV devra être soumise à la compétence des juridictions du ressort du lieu du domicile du
            défendeur. <br><br>Médiation de la consommation <br><br>Selon l'article L.612-1 du Code de la consommation,
            il est rappelé que « tout consommateur a le droit de recourir gratuitement à un médiateur de la consommation
            en vue de la résolution amiable du litige qui l’oppose à un professionnel. A cet effet, le professionnel
            garantit au consommateur le recours effectif à un dispositif de médiation de la consommation ». <br><br>A ce
            titre AtypikHouse propose à ses Clients Consommateurs, dans le cadre de litiges qui n'auraient pas trouvé
            résolution de manière amiable, la médiation d'un médiateur de la consommation, dont les coordonnées sont les
            suivantes :<br><br>MEDIATEUR DE LA CONSOMMATION AGREE - DEVIGNY MEDIATION
            <br><br>contact@devignymediation.fr <br><br>https://www.devignymediation.fr/consommateurs.php <br><br>Il est
            rappelé que la médiation n'est pas obligatoire mais uniquement proposée afin de résoudre les litiges en
            évitant un recours à la justice.
        </p>
    </body>

</div>