<div class="container">
    <h1>Conditions générales d’utilisation</h1>


    <p>Les présentes conditions générales d’utilisation régissent la visite et l’utilisation de notre site internet
        www.AtypîkHouse.art (ci-après « Site Internet »), de notre application AtypikHouse pour terminaux mobiles
        compatibles (ci-après « Application »), ainsi que de nos services et informations fournis par le Site
        Internet et/ou l’Application. Vous devez prendre connaissance de la dernière version des conditions
        d’utilisation avant de télécharger l’Application ou d’utiliser nos services. <br><br>1 – Identité
        légale<br><br>AtypikHouse SARL, au capital de 10000 €, entreprise immatriculée au RCS de Pierrefonds sous le
        numéro 362846081, dont le siège social est sis au 11 Rue Notre Dame, 60350 Pierrefonds (ci-après «
        AtypikHouse »). <br><br>L’hébergement du Site Internet est assuré par OVH SAS, société au capital de 10 069
        020€, dont le siège social est situé 2 rue Kellermann, 59100 Roubaix, immatriculée au RCS de Roubaix sous le
        numéro SIREN 424 761 419. <br><br>2 – Services proposés par AtypikHouse <br><br>AtypikHouse propose l’accès
        à des annonces (ci-après « Locations ») créés par des tiers (ci-après « Créateurs de Locations »). Les
        locations sont accessibles par le biais de l’Application téléchargée et installée par vos soins sur votre
        terminal mobile compatible. AtypikHouse met également à votre disposition le Site Internet, un service de
        mise en relation. Les services que vous fournit AtypikHouse par le biais de l’utilisation du Site Internet
        et de l’Application sont ci-après désignés les « Services ». <br><br>3 – Accès aux Services <br><br>Le
        téléchargement de l’Application est gratuit.Atypik House se réserve le droit de modifier à tout moment et
        avec effet immédiat les conditions d’accès aux Services. <br><br>L’accès aux Services est strictement limité
        à un usage privé, personnel et non transmissible.<br><br>Pour accéder aux Services, vous devez vous
        connecter au réseau Internet puis au Site Internet ou à l’Application que vous aurez préalablement
        téléchargée sur votre terminal mobile. Une fois connecté à l’Application ou au Site Internet, vous devez
        créer un compte utilisateur en complétant un formulaire. Vous garantissez que les informations que vous
        communiquez sont exactes et complètes.</p>
    <p>Une seule création de compte utilisateur par personne est autorisée.Atypik House se réserve la possibilité de
        supprimer les comptes multiples sans préavis.<br><br>La création d’un compte utilisateur vous permet
        d’obtenir un identifiant et un mot de passe nécessaires à l’accès aux Services. Votre mot de passe est
        strictement personnel et confidentiel. Il doit être gardé secret et ne doit pas être divulgué. <br><br>Vous
        conservez à votre charge les moyens matériels et les frais, notamment de télécommunication, nécessaires à
        l’accès au réseau Internet et à l’utilisation du Site Internet et de l’Application. Vous ne pouvez accéder
        aux Services qu’en utilisant des moyens autorisés. Il vous appartient de vérifier que vous vous conformez
        aux prérequis techniques en vigueur, et notamment que votre connexion internet est suffisante et que votre
        terminal mobile est compatible avec l’Application. <br><br>Les Services, y compris les prérequis techniques,
        peuvent être librement modifiés par AtypikHouse en fonction des améliorations ou des mises à jour apportées,
        qu’elle peut juger nécessaire d’un point de vue technique, réglementaire, esthétique ou autre. AtypikHouse
        se réserve en particulier le droit, à tout moment et à son entière discrétion, de supprimer tout ou partie
        des rubriques, caractéristiques, des fonctionnalités ou autres, du Site Internet et/ou de l’Application.
        <br><br>Vous pouvez à tout moment cesser d’utiliser les Services, soit en clôturant votre compte utilisateur
        en suivant les instructions fournies sur le Site Internet, soit en supprimant définitivement l’Application
        de votre terminal. AtypikHouse peut également mettre fin à tout moment à votre utilisation des Services en
        désactivant votre compte utilisateur, notamment en cas de non-respect de l’une des présentes conditions
        d’utilisation ou d’utilisation frauduleuse des Services.<br><br>4 – Utilisation des Services <br><br>4.1.
        Accès aux Locations<br><br>Le récepteur GPS installé sur le terminal mobile sur lequel vous avez téléchargé
        l'application doit être activé pour détecter votre emplacement. Vous devez également avoir autorisé
        l’utilisation de vos données de géolocalisation par Atypik House. Les paramètres de géolocalisation peuvent
        être modifiés par vos soins à tout moment à partir de la rubrique « Réglages / Service de localisation » (ou
        similaire) du système d’exploitation de votre terminal. En fonction de votre position et des critères
        proposés , une sélection de Locations à proximité peut vous être proposée. <br>
    </p>
    <p>Vous utilisez l’Application et le Site Internet sous votre seule responsabilité et entièrement à vos risques.
        En particulier, AtypikHouse n’est pas responsable et ne pourra être tenue responsable en cas d’utilisation
        frauduleuse de l’Application, à des fins illégales ou dans des conditions dangereuses. <br><br>AtypikHouse
        n’édite pas les Locations. La qualité, la pertinence, l’exactitude, la sécurité et la licéité des Locations
        et de leur contenu associé publiés sur le Site Internet et/ou l’Application relèvent uniquement de la
        responsabilité du Créateur de Locations. AtypikHouse ne procède pas à une surveillance ni à un contrôle
        permanent des Locations et de leur contenu associé. <br><br>AtypikHouse n’est pas responsable que ce soit
        envers vous ou tout autre tiers, des Locations, ni de manière générale de tout contenu (compte utilisateur,
        commentaires, images, textes, etc.) publié par un utilisateur ou tout autre tiers sur le Site Internet ou
        l’Application. <br><br>4.2. Publication de contenu <br><br>Dans le cadre de l’utilisation des Services, vous
        avez la possibilité de créer gratuitement une Location. AtypikHouse se réserve le droit à son entière
        discrétion de refuser de publier, ou au contraire de mettre en valeur la Location que vous avez créé sur le
        Site Internet ou l’Application. <br><br>Vous êtes seul titulaire des droits sur les contenus, notamment
        images, photographies, séquences vidéo, sons, illustrations, musiques, graphisme, icône, marque de commerce,
        logo, textes, informations, commentaires, messages, opinions, et plus largement sur toutes les données que
        vous publiez dans le cadre des Services (ci-après ensemble désigné « Contenu »).<br><br>Octroi d’une license
        sur le contenu <br><br>Vous concédez à titre gratuit à AtypikHouse et à ses sous-traitants un droit leur
        permettant d’utiliser, de distribuer, de copier, de modifier, d’adapter, de reproduire, de publier, de
        divulguer à tout tiers, d’héberger, de mettre en cache, de diffuser, d’afficher ledit Contenu par tous
        moyens et sur tout support, dans le monde entier, aux fins d’exécution et/ou de promotion des Services, et
        de l’activité de AtypikHouse. <br><br>Vous acceptez et reconnaissez que le Contenu que vous publiez sur le
        Site Internet et/ou l’Application peut être rendu gratuitement accessible à tous les utilisateurs du Site
        Internet et/ou de l’Application. Dans ce cas, vous ne pourrez prétendre à aucune rémunération pour l’accès
        par lesdits utilisateurs au Contenu, et notamment aux Locations créées. <br></p>
    <p>Vous autorisez expressément AtypikHouse à faire apparaître sur le Contenu tout message ou encart ayant pour
        finalité la promotion de l’activité de AtypikHouse et/ou celle de ses partenaires commerciaux, sans que vous
        ne puissiez prétendre à aucun droit ou rémunération de ce fait.<br><br>Vous reconnaissez que AtypikHouse n'a
        aucun contrôle sur le transfert de Contenus via les réseaux de télécommunication publics utilisés pour
        accéder aux Services et notamment le réseau Internet. Vous reconnaissez et acceptez que AtypikHouse ne
        puisse garantir la confidentialité des Contenus lors du transfert de ceux-ci sur lesdits réseaux publics. En
        conséquence AtypikHouse ne pourra en aucun cas voir sa responsabilité engagée en cas, notamment, de
        détournement, de captation, de corruption des Contenus, ou de tout autre évènement susceptible d'affecter
        ceux-ci, survenant à l'occasion de leur transfert sur les réseaux de télécommunication publics.
        <br><br>Responsabilités - Garanties <br><br>Vous assurez la responsabilité éditoriale du Contenu publié dans
        le cadre des Services. A ce titre, vous êtes seul responsable de la qualité, la pertinence, l’exactitude, la
        sécurité et la licéité du Contenu. <br><br>Vous déclarez et garantissez notamment que le Contenu ne présente
        aucun caractère obscène, vulgaire, pornographique, violent, raciste, discriminatoire, contraire à l'ordre
        public et/ou aux bonnes mœurs, n’est pas susceptible de porter atteinte à la dignité des personnes et à la
        protection des mineurs, ni de faire l'apologie de crimes de guerre, crimes contre l'humanité ou actes de
        terrorisme. <br><br>Vous êtes seuls responsable des conditions de sécurité et de légalité liées à la
        Location créée, notamment concernant l’implantation des points d’intérêts (accessibilité pour l’ensemble des
        utilisateurs, proximité de zones dangereuses, respect des propriétés privées, etc.). <br><br>Vous déclarez
        et garantissez en outre être titulaire des droits de propriété intellectuelle sur les Contenus, et/ou
        bénéficier et pouvoir justifier à tout moment de toute(s) autorisation(s) écrite(s) et expresse(s)
        requise(s) pour la publication et l’exploitation légales des Contenus dans le cadre des Services. Vous
        garantissez qu'en créant, installant ou téléchargeant le Contenu, vous n'excédez aucun droit qui vous aurait
        éventuellement été concédé sur tout ou partie du Contenu et que vous ne portez atteinte à aucun droit de
        tiers, notamment à leurs droits de propriété intellectuelle. <br><br>Si le Contenu comporte des données à
        caractère personnel, vous garantissez à AtypikHouse avoir procédé à l’ensemble des obligations qui vous
        incombent au terme de la loi du 6 janvier 1978 dite « Informatique &amp; Libertés » ou de toute autre
        législation applicable, et avoir informé les
        personnes physiques concernées de l’usage qui est fait desdites données personnelles et de leur droits
        associés. <br><br>Vous garantissez AtypikHouse à première demande contre tout préjudice que AtypikHouse
        pourrait être amenée à subir en raison d'une violation ou d’un manquement de votre part au regard des
        dispositions du présent article. <br><br>5 – Disponibilité <br><br>AtypikHouse s’efforce d’assurer la
        disponibilité des Services 24H sur 24H, tous les jours de l’année. <br><br>Cependant, AtypikHouse peut à
        tout moment et sans préavis suspendre, interrompre ou limiter l’accès à tout ou partie du Site et/ou de
        l’Application, notamment pour des raisons d’interventions de maintenance ou de mise à jour du Site Internet,
        de l’Application, des Services, et des différentes installations qui participent à leur fonctionnement, ou
        encore par suite de circonstances indépendantes de la volonté d’AtypikHouse (faille de sécurité constatée,
        utilisation frauduleuse des Services, etc.). <br><br>Vous déclarez connaître et accepter les
        caractéristiques et limites du réseau Internet et en particulier reconnaître : <br><br>être averti des aléas
        techniques qui peuvent affecter le réseau Internet et de téléphonie mobile et entraîner des
        dysfonctionnements, des anomalies, des pertes de données, des ralentissements ou des indisponibilités
        rendant la connexion lente ou impossible, <br><br>être informé des risques de détournement des données
        circulant sur le réseau Internet. Il vous appartient à ce titre de prendre toutes les mesures nécessaires
        pour vous protéger d’éventuels logiciels malveillants ou virus circulant sur le Site Internet ou
        l’Application. <br><br>6 – Assistance technique <br><br>Un support technique vous permettant de contacter
        AtypikHouse pour signaler toutes anomalies affectant les Services ou pour toute question relative à leur
        utilisation, est disponible à l’adresse suivante www.AthypikHouse.art <br><br>7 – Garantie
        <br><br>AtypikHouse ne consent aucune garantie expresse ou implicite relativement aux Services, y compris,
        notamment, toute garantie implicite d'adéquation des Services à un objectif particulier. <br>
    </p>

    <p>Les Services sont réputés être mis à votre disposition « en l’état » sans faire l’objet de mesures
        d’adaptations spécifiques. AtypikHouse ne délivre aucune garantie que les fonctionnalités des Services
        satisferont vos attentes et besoins spécifiques. Il vous appartient de vérifier l’adéquation des Services
        avec vos besoins et de prendre toutes les précautions nécessaires. AtypikHouse ne garantit pas les
        performances et résultats, notamment techniques, économiques et/ou commerciaux, des Services. AtypikHouse ne
        garantit pas que le Site Internet, l’Application et leur(s) contenu(s) soient exempts d’erreurs, de défauts,
        de logiciels malveillants ou de virus. <br><br>8 – Responsabilité - Force majeur <br><br>AtypikHouse ne peut
        être tenue responsable des dommages causés à vous-mêmes, à des tiers et/ou à votre équipement du fait de
        votre utilisation du Site Internet ou de l’Application. Vous renoncez à toute action contre AtypikHouse de
        ce fait. <br><br>La responsabilité deAtypikHouse ne peut être engagée en cas de défaillance, panne,
        difficulté ou interruption de fonctionnement, empêchant l’accès au Site Internet et/ou à l’Application, ou à
        une de leurs fonctionnalités, notamment en cas de mauvaise qualité de diffusion des Contenus, coupures dans
        la lecture, dégradation de la qualité de l'image etc. <br><br>AtypikHouse ne pourra être tenue responsable
        des conséquences éventuelles de l’indisponibilité et/ou de l’altération des Services ou des Contenus.
        <br><br>AtypikHouse ne pourra en aucun cas être tenu pour responsable en cas de préjudice causé par un cas
        de force majeure. Sont notamment considérés comme cas de force majeure eu égard aux obligations de
        AtypikHouse, les blocages des réseaux de télécommunications, les blocages des réseaux informatiques (y
        compris les réseaux commutés des opérateurs de télécommunication), les défaillances du réseau public de
        distribution d’électricité, les pertes de connectivité Internet, susceptibles d’empêcher ou de gêner
        l’exécution des présentes. <br><br>9 – Droits de propriété intellectuelle <br><br>AtypikHouse est et demeure
        seule titulaire de l’ensemble des droits de propriété relatifs à tout élément du Site Internet et de
        l’Application, et en particulier de leur infrastructure informatique et logicielle, des fonctionnalités, du
        nom, des logos, marques et dénominations associées aux Services, ainsi que des textes, images,
        photographies, illustrations, graphismes, sons, séquences vidéo, procédés et connaissances mis en œuvre dans
        le cadre des Services. <br><br>Les présentes conditions d’utilisation ne vous confèrent aucun droit de
        propriété sur le Site Internet ou l’Application, ou sur tout autre droit détenu par AtypikHouse. <br>
    </p>
    <p>Sous réserve de votre respect des présentes conditions d'utilisation, AtypikHouse vous concède un droit
        personnel, limité, révocable, non exclusif et non cessible, qui vous permet de : (i) télécharger et
        d’installer un copie de l’Application sur votre terminal mobile, (ii) d’utiliser cette copie aux seules fin
        d’utilisation privée, non collective et non commerciale des Services et à l’exclusion de toute autre
        finalité. <br><br>Vous vous interdisez strictement toute autre utilisation non autorisée, en particulier
        toute copie, adaptation, création d’œuvres dérivées, distribution, reproduction, modification, traduction,
        arrangement, diffusion, transfert, décompilation, vente, concession sous licence, ou exploitation de toute
        autre manière du Site Internet, de l’Application, des Services, des Locations ou de tout autre contenu
        publié sur le Site Internet ou l’Application, sans que cette liste ne soit limitative. <br><br>Vous vous
        interdisez également de reproduire tout élément des Services (idées, caractéristiques, fonctions, images
        etc.) par quelque moyen que ce soit, sous quelque forme que ce soit et sur quelque support que ce soit.
        <br><br>10 – Données personnelles <br><br>L’ensemble des informations personnelles pouvant être recueillies
        sur le Site Internet ou l’Application fait l’objet d’un traitement informatique automatisé ayant été déclaré
        par AtypikHouse, conformément à la loi Informatique et Libertés n°78-17 du 6 janvier 1978 modifiée.
        Conformément à cette loi, il est rappelé que vous disposez d’un droit d’accès, d’opposition, de
        rectification, de modification et de suppression sur toute donnée personnelle vous concernant. <br><br>Le
        responsable de la collecte et du traitement des données est la société AtypikHouse, dont les coordonnées
        figurent en tête des présentes. <br><br>En justifiant de votre identité, vous pouvez à tout moment exercer
        ce droit en contactant AtypikHouse par: <br><br>courrier électronique à l'adresse suivante :
        AtypikHouse.art@gmail.com <br><br>ou courrier postal à l’adresse suivante : AtypikHouse, 11 Rue Notre Dame,
        60350 Pierrefonds <br><br>Certaines informations collectées sont spécifiquement dédiées à la création d’un
        compte utilisateur, tandis que d’autres informations sont collectées aux fins d’établissement de
        statistiques. Lorsque certaines informations sont obligatoires pour accéder aux Services ou à des
        fonctionnalités spécifiques, leur caractère obligatoire est indiqué au moment de la saisie. <br>
    </p>
    <p>Les éléments d’information collectés uniquement aux fins de création du compte utilisateur ne sont destinés
        qu’à AtypikHouse. Les informations collectées aux fins d’établissement de statistiques sont destinées à
        AtypikHouse et à ses partenaires Créateurs de Locations.<br><br>Les données personnelles exclusivement
        dédiées à la création du compte utilisateur sont conservées tant que le compte utilisateur est actif et
        intégralement supprimées des serveurs de AtypikHouse par la suppression du compte utilisateur, à l'exception
        des adresses IP. <br><br>Le Site Internet peut utiliser des cookies, ces fichiers sont stockés sur votre
        ordinateur, votre tablette ou votre mobile et servent uniquement à faciliter l'accès aux Services proposés
        par AtypikHouse. Les cookies du Site Internet sont conçus pour être utilisés uniquement par AtypikHouse.
        Vous pouvez vous opposer à l'enregistrement de ces "cookies" en configurant votre navigateur internet selon
        les modalités détaillées sur le site http://www.cnil.fr. <br><br>11 – Liens <br><br>Vous êtes informé que
        lors de l’utilisation du Site Internet ou de l’Application, un lien peut vous conduire vers des applications
        ou sites internet tiers n’étant pas sous le contrôle de AtypikHouse. AtypikHouse n’est pas responsable et ne
        peut être tenue responsable des contenus et activités de ces sites internet et applications. <br><br>La
        création de liens hypertextes (simples ou profonds) vers le Site Internet ou vers l’Application est soumise
        à l'autorisation expresse et préalable de AtypikHouse. <br><br>12 – Droit applicable – Juridiction
        compétente <br><br>Les présentes conditions d’utilisation sont régies par la loi française. En cas de
        litige, seront seuls compétents les Tribunaux de Bordeaux (France), même en cas de référé, d'appel en
        garantie, de demande incidente ou de pluralité de demandeurs. <br></p>

</div>