<div class="example-container register-container">

    <form [formGroup]="registerForm" class="register-form" (ngSubmit)="onSubmit(registerForm.value)">
        <img src=" /assets/images/Group_1.svg" class="form-logo">
        <div class="form-text">Inscription</div>
        <div class="form-field">
            <mat-form-field appearance="fill" class="field">
                <mat-label>Saisissez une adresse mail</mat-label>
                <input (change)="handleOnChangeMail()" matInput placeholder="Adresse mail" formControlName="mail"
                    required>

            </mat-form-field>

            <div class="error-input" *ngIf="registerForm.get('mail').errors &&
            !registerForm.get('mail').hasError('required')">format d'adresse mail incorrect</div>
            <mat-error class="error-input"
                *ngIf="registerForm.get('mail').errors && registerForm.get('mail').hasError('required') && isTouchedMail > 0">
                Vous devez
                saisir une adresse mail
            </mat-error>

            <mat-form-field appearance="fill">
                <mat-label>Saisissez une mot de passe</mat-label>
                <input (change)="handleOnChangePassword()" formControlName="password" matInput
                    [type]="hide ? 'password' : 'text'" required>
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <div class="error-input" *ngIf="registerForm.get('password').errors &&
            !registerForm.get('password').hasError('required')">format du mot de passe incorrect</div>
            <div class="error-input" *ngIf="registerForm.get('password').errors &&
                registerForm.get('password').hasError('required')  && registerForm.get('password').touched">Vous devez
                saisir un mot
                de passe</div>

            <mat-form-field appearance="fill" class="field">
                <mat-label>Saisissez un numéro de téléphone</mat-label>
                <input maxlength="12" matInput placeholder="Numéro de téléphone" formControlName="phone" required>

            </mat-form-field>

            <div class="error-input" *ngIf="registerForm.get('phone').errors &&
            !registerForm.get('phone').hasError('required')">format de numéro de téléphone incorrect</div>
            <mat-error class="error-input"
                *ngIf="registerForm.get('phone').errors && registerForm.get('phone').hasError('required') && registerForm.get('phone').touched">
                Vous devez
                saisir un numéro de téléphone
            </mat-error>

            <mat-form-field appearance="fill" class="field">
                <mat-label>Saisissez votre prénom</mat-label>
                <input matInput placeholder="Prénom" formControlName="firstName" required>

            </mat-form-field>


            <mat-error class="error-input"
                *ngIf="registerForm.get('firstName').errors && registerForm.get('firstName').hasError('required') && registerForm.get('firstName').touched">
                Vous devez
                saisir un prénom
            </mat-error>

            <mat-form-field appearance="fill" class="field">
                <mat-label>Saisissez votre nom</mat-label>
                <input matInput placeholder="Nom" formControlName="lastName" required>

            </mat-form-field>


            <mat-error class="error-input"
                *ngIf="registerForm.get('lastName').errors && registerForm.get('lastName').hasError('required') && registerForm.get('lastName').touched">
                Vous devez
                saisir un nom
            </mat-error>


            <div class="info">* Le mot de passe doit contenir: <br> -4 caractéres au minimum <br> -Une majuscule <br> -Un chiffre
            </div>

            <div class="btn"><button mat-raised-button style="background-color: #339e33; color: white;"
                    type="submit" [disabled]="registerForm.invalid">S'inscrire</button>
            </div>
        </div>

    </form>

    <div class="register-success">

    </div>
</div>
