<mat-nav-list>
    <a mat-list-item routerLink="/" (click)="onSidenavClose()"
       class="example-icon favorite-icon nav-caption sidebar-item"
       aria-label="Example icon-button with heart icon">
        Accueil
    </a>
    <a mat-list-item routerLink="/search" (click)="onSidenavClose()"
       class="example-icon favorite-icon nav-caption sidebar-item"
       aria-label="Example icon-button with heart icon">
        Logements
    </a>


    <a mat-list-item *ngIf="!this.statusUser.isAuth" (click)="onSidenavClose()" routerLink="/connection"
       class="example-icon favorite-icon nav-caption sidebar-item"
       aria-label="Example icon-button with heart icon">
        se connecter
    </a>
    <a *ngIf="!this.statusUser.isAuth" (click)="onSidenavClose()" mat-list-item routerLink="/register"
       class="example-icon favorite-icon nav-caption sidebar-item"
       aria-label="Example icon-button with heart icon">
        S'inscrire
    </a>

    <mat-list-item [matMenuTriggerFor]="menu" *ngIf="this.statusUser.isAuth" class="sidebar-item">
        <a matline>Compte</a>
    </mat-list-item>
    <mat-menu #menu="matMenu" class="sidebar-item-menu">
        <button mat-menu-item (click)="onSidenavClose()" style="color: #2d2d2d" routerLink="/profil">Mon Profil</button>
        <button mat-menu-item (click)="onSidenavClose()" (click)="disconnect()" style="color: #2d2d2d">Déconnexion
        </button>
    </mat-menu>

    <div class=" social-media">
        <a mat-list-item href=" https://www.instagram.com/atypikhouse.art/" target="_blank" class="instagram-btn desktop-menu">
            <img src=" /assets/images/instagram_grey.svg" class="instagram-img" alt="logo-instagram">
        </a>
        <a mat-list-item href="https://www.facebook.com/AtypikHouse-205167134864752/" target="_blank" class="facebook-btn desktop-menu">
            <img src=" /assets/images/facebook_grey.svg" class="facebook-img" alt="logo-facebook">
        </a>
    </div>
</mat-nav-list>
