@font-face {
    font-family: "gothic_sans_ms";
    src: url("/assets/Police_Ecriture/GOTHIC.TTF");
}

@font-face {
    font-family: "gothic_bold";
    src: url("/assets/Police_Ecriture/GOTHICB.TTF");
}

.example-container {
    background-color: white;
    min-height: 100vh;
    height: fit-content;
    padding-top: 30px;
    width: 85%;
    margin: auto;
    border-radius: 15px;
    margin-top: 2vh;
}

.title {
    text-align: center;
    font-family: "gothic_sans_ms";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    //line-height: 43px;

    color: #000000;
}

.search-field-group {
    width: 90%;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin: 6vh auto 6vh auto;
}

.search-field {
    width: 60%;
    border-radius: 20%;
}

.search-btn {
    background: #ffffff;
    border: 3px solid #7d7d7d;
    box-sizing: border-box;
    border-radius: 10px;
    width: 25vw;
    height: 6vh;
    margin-left: 4vw;
    font-weight: normal;
    padding: 0 7px;
    color: #7d7d7d;
}

.dropdown {
    display: flex;
    position: relative;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 30%;
    height: 6vh;
    font-weight: bold;
    color: #7d7d7d;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    top: 33px;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.mat-slide-toggle {
    margin-left: 4vw;
}

.annoucement {
    //margin-top: 5vh;
    display: flex;
    margin-left: 4vw;
    margin-right: 4vw;
    cursor: pointer;
}

.annoucement-presentation {
    line-height: 43px;
    margin-left: 2vw;

    font-family: "gothic_sans_ms";
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
}

.annoucement-presentation-under {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin: 1vh 0;
    /* identical to box height */

    /* Gris clair */

    color: #7d7d7d;
}

.annoucement-title {
    font-size: 20px;
    margin: 0;
    line-height: 20px;
}


.annoucement-image {
    width: 30%;
    height: 30%;
}

::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #339e33;
}

.annoucement-hr {
    margin-top: 2vh;
    width: 90%;
    margin-bottom: 5vh;
    /* Gris clair */
    background-color: #7d7d7d;
    border: 1px solid #7d7d7d;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: green !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: green !important;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: green !important;
}

.mat-badge-content {
    width: auto;
    background: #339e33;
}

.top-annoucement {
    color: white;
    background-color: #339e33;
    font-size: 10px;
    border-radius: 100%;
    padding: 5px 10px;
}
.no-annoucement {
    width: 250px;
    margin: auto;
}

.addAdvert-btn {
    background-color: #339e33;
    border-radius: 10px;
    width: 48vw;
    height: 6vh;
    margin-left: 4vw;
    font-weight: normal;
    padding: 0 7px;
    color: white;
}

@media (min-width: 576px) {
    .example-container {
        margin-top: 4vh;
    }

    .dropdown-content {
        top: 44px;
    }

    .annoucement-image {
        width: 25%;
        height: 25%;
    }

    .annoucement-title {
        font-size: 24px;
        line-height: 24px;
    }

    .annoucement-presentation-under {
        font-size: 20px;
    }

    .top-annoucement {
        margin-left: 2vw;
    }
}

@media (min-width: 768px) {
    .annoucement-image {
        width: 20%;
        height: 20%;
    }

    .annoucement-title {
        margin-top: 1vh;
    }
}

@media (min-width: 992px) {
    .example-container {
        width: 80%;
    }

    .search-field {
        width: 70%;
    }

    .search-btn {
        width: 15vw;
    }

    .addAdvert-btn {
        width: 44vw;
    }
}

@media (min-width: 1200px) {
    .annoucement {
        margin-left: 8vw;
        margin-right: 8vw;
    }

    .annoucement-image {
        width: 15%;
        height: 15%;
    }

    .annoucement-hr {
        width: 80%;
    }

    .search-field {
        width: 60%;
    }

    .search-btn {
        width: 21vw;
    }

    .addAdvert-btn {
        width: 43vw;
    }
}

@media (min-width: 1600px) {
    .example-container {
        width: 70%;
    }

    .annoucement-hr {
        width: 77%;
    }

    .search-btn {
        width: 20vw;
    }

    .addAdvert-btn {
        width: 39vw;
    }
}
