<div class="container">
    <div class="title"> Panneau Administrateur</div>
    <div style="margin-top: 100px;  margin-left: 50px;">

        <form [formGroup]="criteriaForm" class="criteria-form" (ngSubmit)="onSubmit(criteriaForm.value)">
            <div style="display: flex;">
                <mat-form-field appearance="fill" class="field">
                    <mat-label>Nouveau critére</mat-label>
                    <input matInput placeholder="critere" formControlName="criteria" required>

                </mat-form-field>
                <div>
                    <button class="btn" mat-raised-button type="submit" [disabled]="criteriaForm.invalid">Ajouter le
                        critére</button>
                </div>

            </div>

        </form>

        <h4>Listes des critéres :</h4>

        <div style="display: flex;">
            <mat-form-field appearance="fill">
                <mat-label>Critéres</mat-label>
                <mat-select [(value)]="selected">

                    <mat-option *ngFor="let criteriaName of criteriaNames" [value]="criteriaName">{{criteriaName}}
                    </mat-option>
                </mat-select>

            </mat-form-field>
            <div>
                <button class="btn-delete" (click)='delete()' mat-raised-button type="submit">supprimer
                    le
                    critére</button>
            </div>
        </div>

    </div>

</div>